<a href="<%= user_path(current_user) %>">
  <%= display_avatar(current_user, size: 50) %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "View my profile", current_user %>
 </br>
  <%= link_to "Photos", display_user_path(current_user)%>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>
